spring:
  datasource:
    url: jdbc:mysql://localhost:3306/stock-study
    username: stock-study
    password: stock-study
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  data:
    redis:
      host: localhost
      port: 6379
  flyway:
    enabled: true
    baseline-on-migrate: true
    url: jdbc:mysql://localhost:3306/stock-study
    user: stock-study
    password: stock-study
